.color-div{
    background-color: lightblue;
    color: red;
    text-align: center;
    font-weight: bolder;
    width: 12%;
    margin: 0px;
    float: left;
    height: 50px;
    border: 1px solid black;
}
.color-div2{
    background-color: black;
    color: red;
    text-align: center;
    font-weight: bolder;
    width: 12%;
    margin: 0px;
    float: left;
    height: 50px; 
    border: 1px solid black;
}
.border{
    height: 50%;
    width: 35%;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-left: 410px;
    
}


