.div1{
    
    float: left;
    margin-top: 20px;
    height: 550px;
    width: 600px;
    margin-left: 15px;
}
.div2{
    margin-top: 20px;
    
    float: right;
    height: 550px;
    width: 600px;
    margin-right: 20px;
}
.child1{
    height:70px;
    width: 75px;
    background-color: green;
    float: left;
    margin: 20px;
    
}
.child2{
    height: 70px;
    width: 75px;
    background-color: white;
    float: left;
    margin: 20px;
}

.child3{
    height: 70px;
    width: 20px;
    background-color: white;
    float: left;
    margin: 20px;
}







