nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 50px;
    justify-content: center;
}

a{
    position: relative;
    cursor: pointer;
    color: #efefee;
    font-size: 28px;
    padding: 0.5rem 1rem;
    transition: color0.25s;
    text-decoration: none;
}
a::after{
    position: absolute;
    content: "";
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s ;
    border-radius: 10px;
}
a:hover{
    color: black;
}
a:hover::after{
    scale: 1;

}
body{
    background-color: black;
}
h1{
    color:white;
    text-align: center;
}
.nav2{
    background-color: white;
    width: 300px;
    height: 450px;
    border-radius: 30px;
    float: left;
}
.div1{
    height: 70px;
    width: 290px;
    background-color: navy;
    float: left;
    margin: 10px;
    border-radius: 30px;
  
}
.div2{
    height: 70px;
    width: 290px;
    background-color: navy;
    float: left;
    margin: 10px;
    border-radius: 30px;
}
.div-con{
    height: 450px;
    width: 800px;
    background-color: white;
    float: right;
    margin-right: 80px;
    border-radius: 30px;
}
footer{
    
    margin: 20px;
}
h2{
    text-align: center;
    margin-top: -20px;
}
footer{

    height: 50px;
    width: 100%;
    margin-top: 470px;
}
.sp{
    height: 40px;
    width: 40px;
    margin-top: -60px;
    border-radius: 20px;
    border: 1px solid white;
    margin-left: 505px;
}
h3{
    text-align: center;
    margin-top: 6px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #efefee;
}
img{
    height: 450px;
    width: 800px;
    border-radius:30px ;
    
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; 
    padding: 10px;
    gap: 30px;
    transition: background-color 0.3s ease;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center; 
    padding: 0; 
    margin: 0;
    animation: slideIn 0.3s ease;
}

.nav-list li {
    margin: 0 15px;

}

.nav-list a {
    color: white;
    text-decoration: none;
    text-align: center;
}


.menu-toggle {
    display: none; 
}


.menu-icon {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    margin-right: auto;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}



@media (max-width: 768px) {
    .nav-list {
        display: none; 
        flex-direction:column;
        position: absolute;
        top: 60px; 
        left: 60px;
        background-color: black; 
        width: 200px;
    }

    .menu-icon {
        display: flex; 
        margin-left: 10px;
    }
    .div-con{
        margin-right: 0px;
        width: 100%;
    }
    .nav2{
        display: none;
    }
    img{
        width: 100%;
    }

   
    #menu-toggle:checked + .menu-icon + .nav-list {
        display: flex; 
    }

    

}
